body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(90deg, #1e88e5, #1e1e1e);
}

.app-title {
  text-align: center;
  font-size: 32px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
}